<a href="https://colab.research.google.com/github/suhailnoor18/Data_science_life_cycle_cw2/blob/main/DSPL_CW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#reading the csv file
df = pd.read_csv('/content/Classified_Hotels_Sri_Lanka.csv')

df.head()

,Name,Address,Rooms,Grade,District,AGA Division,PS/MC/UC,Logitiute,Latitude
0,CINNAMON GRAND HOTEL,"NO. 77, GALLE ROAD, COLOMBO 03",501,FIVE,Colombo,Colombo,Colombo Divisional Secretariat,79.849235,6.918034
1,CINNAMON LAKESIDE COLOMBO,"115, SRI CHITAMPALAM A GARDINER MAWATHA, COLOM...",352,FIVE,Colombo,Colombo,Colombo Divisional Secretariat,79.849414,6.929273
2,CINNAMON LODGE,"P.O. BOX 02, HABARANE",162,FIVE,Anuradhapura,Anuradhapura,Anuradhapura East,80.748810,8.034584
3,GALADARI HOTEL,"NO. 64, LOTUS ROAD, COLOMBO 01",408,THREE,Colombo,Colombo,Colombo Divisional Secretariat,79.843155,6.931679
4,EDEN RESORTS AND SPA,"KALUWAMODARA, BERUWALA",158,FIVE,Kalutara,Kalutara Pradeshiya Sabha,Kalmunai Divisional Secretariat,79.990213,6.444585

In [3]:
df['Grade'].unique()

array(['FIVE', 'THREE', 'FOUR', 'TWO', 'ONE'], dtype=object)

In [4]:
# Assuming your grade column is named 'Grade'
grade_mapping = {
    'ONE': 1,
    'TWO': 2,
    'THREE': 3,
    'FOUR': 4,
    'FIVE': 5
}

# Before applying the mapping, ensure the 'Grade' column is in the correct format:
df['Grade'] = df['Grade'].str.upper()  # Convert to uppercase to match the keys in grade_mapping

# Now apply the mapping:
df['Grade'] = df['Grade'].map(grade_mapping)

df.head()

,Name,Address,Rooms,Grade,District,AGA Division,PS/MC/UC,Logitiute,Latitude
0,CINNAMON GRAND HOTEL,"NO. 77, GALLE ROAD, COLOMBO 03",501,5,Colombo,Colombo,Colombo Divisional Secretariat,79.849235,6.918034
1,CINNAMON LAKESIDE COLOMBO,"115, SRI CHITAMPALAM A GARDINER MAWATHA, COLOM...",352,5,Colombo,Colombo,Colombo Divisional Secretariat,79.849414,6.929273
2,CINNAMON LODGE,"P.O. BOX 02, HABARANE",162,5,Anuradhapura,Anuradhapura,Anuradhapura East,80.748810,8.034584
3,GALADARI HOTEL,"NO. 64, LOTUS ROAD, COLOMBO 01",408,3,Colombo,Colombo,Colombo Divisional Secretariat,79.843155,6.931679
4,EDEN RESORTS AND SPA,"KALUWAMODARA, BERUWALA",158,5,Kalutara,Kalutara Pradeshiya Sabha,Kalmunai Divisional Secretariat,79.990213,6.444585

In [5]:
df['Grade'].unique()

array([5, 3, 4, 2, 1])

In [6]:
#missing values in the df dataframe
missingvalues = df.isnull().sum()
missingvalues

Name            0
Address         0
Rooms           0
Grade           0
District        0
AGA Division    0
PS/MC/UC        0
Logitiute       0
Latitude        0
dtype: int64

In [7]:
# Identify all duplicate rows in traincsv dataset
duplicate_rows = df[df.duplicated(keep=False)]
print(f"Total Duplicates: {len(duplicate_rows)}")

Total Duplicates: 0

In [8]:
# Save the cleaned DataFrame to a CSV file
df.to_csv('cleaned_hotels_data.csv', index=False)